<h1>User todos</h1>
<div class="w3-container">
  <ul class="todos w3-ul w3-hoverable w3-card-4 w3-quarter ">
    <li *ngFor="let todo of todos" [class.selected]="todo === selectedTodo" (click)="onSelect(todo)">
      <span>{{todo.title}}</span>
      <span>{{todo.type}}</span>
      <span (click)="deleteTodo(todo); $event.stopPropagation()" class="w3-closebtn w3-margin-right w3-medium">&times;</span>
    </li>
  </ul>
</div>
<br>
<button class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge"><a class="" routerLink="/newTodo">Create a new Todo</a></button>
<div *ngIf="selectedTodo">
  <h2>
    {{selectedTodo.title | uppercase}} is selected
  </h2>
  <button (click)="gotoDetail()">View Todo</button>
</div>