<div class="w3-container w3-green">
    <h2>Todos</h2>
  </div>
<div class="w3-container">
  <table class="w3-table-all w3-card-4 w3-hoverable">
    <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
    </tr>
    </thead>
    <tr *ngFor="let todo of todos" [class.selected]="todo === selectedTodo" (click)="onSelect(todo)">
      <td>{{todo.title}}</td>
      <td>{{todo.type}}</td>
    </tr>
  </table>
</div>
<div>
<br>
<button class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge"><a routerLink="/newtodo">Create a new Todo</a></button>
</div>
<div *ngIf="selectedTodo">
  <h2>
    {{selectedTodo.title | uppercase}} is selected
  </h2>
  <button (click)="gotoDetail()">View Todo</button>
</div>