<div>
  <div class="w3-container w3-green">
    <h2>New Todo</h2>
  </div>
  <form class="w3-container">
    <p>
      <label>Title</label>
      <input class="w3-input" type="text">
    </p>
    <p>
      <label>Type</label>
      <select class="w3-select" name="option">
        <option value="" disabled selected>Choose todo type</option>
        <option value="1">ASAP</option>
        <option value="2">Important</option>
        <option value="3">Optional</option>
      </select>
    </p>
    <p>
      <label>Description</label>
      <input class="w3-input" type="text">
    </p>
    <p>
      <button class="w3-btn w3-green">Register</button>
    </p>
  </form>
</div>